html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden
}

#Run {
border: 2px solid greenyellow;
background-color: black;
color: greenyellow;
padding: 14px 28px;
font-size: 20px;
cursor: pointer;
margin-left: 10px;
margin-top: 10px;
}

#Stop {
border: 2px solid red;
background-color: black;
color: red;
padding: 14px 28px;
font-size: 20px;
cursor: pointer;
}

.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
padding-left:20px
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.sidenav > button, p {
  margin: 0, auto;
}

/* width */
.sidenav::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sidenav::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.sidenav::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.sidenav::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

#openMenu {
  margin: auto;
}

range {
position: absolute;
top: 50%
}

p {
color: white;
margin-left: 30px;

}

#platformSub, #prevDelete, #un-staticChangeProperty, #un-staticDeleter{
border: 2px solid white;
background-color: black;
color: white;
padding: 10px;

margin: 0;
margin-top: 10px;
margin-left: 20px;
height: 60px;
width: 200px;
} 

.main > button {
border: 2px solid white;
background-color: black;
color: white;
padding: 10px;
height: auto;
margin: auto;
font-family: Arial;
}