#openMenu {
  margin: auto;
}

#platformSub, #prevDelete, #un-staticChangeProperty, #un-staticDeleter{
  border: 2px solid white;
  background-color: black;
  color: white;
  padding: 10px;

  margin: 0;
  margin-top: 10px;
  margin-left: 20px;
  height: 60px;
  width: 200px;
}

#Run {
  margin-right: 40px;
  border: 2px solid greenyellow;
  font-family: impact;
  background-color: black;
  color: greenyellow;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

#Stop {
  font-family: impact;
  border: 2px solid red;
  background-color: black;
  color: red;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
}

.button {
  padding-left: 0px;
}

.scroller {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background: #5491f2;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.scroller:hover {
  opacity: 1;
}
.scroller::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  border-radius: 80%; 
  background: #ccc9c9;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 0;
}
.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #ccc9c9;
  font-family: Impact;
  text-align: center;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: white;
}

.label {
    color: #ed9f31;
}

.button {
  font-family: impact;
  font-size: 16px;
  margin: 0 auto;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

range {
  position: absolute;
  top: 50%
}

.instructions {
    color:white;
    opacity: 1;
    font-style: bold;
    font-family: Impact;
}

.main button {
  border: 2px solid white;
  background-color: black;
  color: white;
  padding: 10px;

  margin: 0;
  margin-top: 10px;
  margin-left: 20px;
  height: 60px;
  width: 200px;
  font-family: Arial;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  color: white;
  margin-left: 30px;
}