extends components/layout.pug

block content
    link(rel='stylesheet', href='/stylesheets/homepage.css')

    p.description
      | Use the PhyRoom physics simulation to gain a better understanding of physics-related concepts
    h3#instructions  Instructions on Using PhyRoom
    p.description
      | When you enter the sandbox for the simulation, you will see many options. Here's a quick rundown on what those options mean and how to use them
    #basics.divisions
      p.headings_small Basics
      p.description
        | To get started simulating, click the 
        i  Sandbox
        |  option on the top left corner!
      br
      p.description
        | Click on the 
        i  Modify 
        |  tool to access the options for the simulation. Read further to see what they mean!
      br
      p.description
        u Run and Stop Buttons
      p.description
        | The 
        i  Run
        |  button lets you keep the simulation window running with all the appropriate options and objects.
      p.description
        | The 
        i  Stop 
        |  button will stop the dynamic options on the screen once they hit a platform so that you can move them around by clicking and dragging on them.
      br
      p.description
        u  Add a Platform
      p.description
        | This section is used for adding different polygon based platforms to the screen which the dynamic objects can interact with.
      br
      p.description
        u  Adjusting Dynamic Object's Properties
      p.description
        | Use this section to set the properties of the dynamic objects. These objects appear when you click on the simulation screen where the mouse pointer is. They are able to realistically interact with the platforms and other simulation features.
    #platform.divisions
      p.headings_small  Adding Platforms
      br
      p.description
        | - Use the 
        i  x-value
        |  and 
        i  y-value
        |  sliders to adjust where the center of the platform will be.
      p.description
        | - Change the value of 
        i  Total sides
        |  to alter how many sides the platform will have.
      p.description
        | - Lastly, use the 
        i  Size/Radius
        |  option to change how large you would like the platform to be.
      br
      p.description
        | * Remember that you MUST click 
        i  Add Platform
        |  for the properties you changed to be applied to a new platform on the screen!
      p.description
        | If you want to delete the platform last added, use the 
        i  Delete Previous
        |  button.
    #dynamic.divisions
      p.headings_small  Adding Dynamic Objects
      br
      p.description
        | - You can change the size of the dynamic objects by using the 
        i  Radius
        |  slider.
      p.description
        | - To modify the density of the objects use the 
        i  Density
        |  tool. Keep in mind that you will not see any physical changes in the appearance of the objects - however, they will interact differently in the simulation.
      p.description
        | - Use the 
        i  Air Friction
        |  and 
        i  Friction 
        |  options to alter their corresponding properties of the dynamic objects. To clarify air friction deals with the objects motion through the blank space, and friction deals with their interaction with platforms.
      br
      p.description
        | *** You MUST click the 
        i  Set Properties
        |  button after modifying characteristics in order for the new dynamic objects to change! ***
      p.description
        | If you want to delete the previous dynamic object, use the 
        i  Delete Previous
        |  option.
        
