#instructions {
    font-family: arial black;
    color: rgb(247,119,84);
    margin-left: 15px;
}

.description {
    color: white;
    font-family: arial black;
    font-size: 14px;
    margin-left: 15px;
}

.divisions {
    margin: 25px auto;
    width:95%;
    height:auto;
    border:3px solid rgb(247,119,84);
}

.headings_small {
    text-decoration: underline;
    color: rgb(247,119,84);
    margin-top: 10px;
    font-family: arial black;
    text-align: center;
    font-size: 26px;
}

u {
    font-size: 18px;
}