@font-face {
  font-family: GEORGEA;
  src: url(../fonts/GEORGEA.otf);
}
h1 {
  font-family: GEORGEA, Helvetica, sans-serif;
  color: #F77754;
}

body {
  margin-top: 80px;
  background-color: #2B2726;
  color: white;
}

.phyroom-button {
  font-family: GEORGEA, Helvetica, sans-serif;
  border-radius: 20%;
  border-color: transparent;
  background-color: #F77754;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}