@import "master.sass"

h1
  font-family: $font-stack
  color: $phyroom-orange

body
  margin-top: $navbar-height + 30px
  background-color: $phyroom-black
  color: white

.phyroom-button
  font-family: $font-stack
  border-radius: 20%
  border-color: transparent
  background-color: $phyroom-orange
  font-size: 20px
  padding-top: 5px
  padding-bottom: 5px
  padding-left: 10px
  padding-right: 10px
  margin: 0 auto