@import "master.sass"

#navbar
  margin: 0
  padding: 0

  overflow: hidden
  background-color: #333

  position: fixed
  top: 0
  left: 0
  width: 100%
  height: $navbar-height

  display: grid
  grid-template-columns: 33.3333% 33.3333% 33.3333%
  justify-content: center

  box-shadow: 0px 3px 5px black

#navbar *
    vertical-align: baseline

#link-list > ul
    margin: 0
    text-align: left

#home-button
    margin: auto !important
    text-align: center !important

#time-controls
    text-align: center

.current-page
  background-color: $phyroom-teal

ul
  list-style-type: none

li
  float: left
  a
    display: block
    color: white
    font-family: $font-stack
    text-align: center
    padding: 14px 16px
    text-decoration: none
    &:hover:not(.active)
      background-color: #111