doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel='icon', href='/favicon.png')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        block extra-head

include navbar.pug
body
    #content
        block content

block footer