link(rel="stylesheet", href="/stylesheets/navbar.css")

#navbar
  #link-list
    ul
      if pageTitle == "Sandbox"
        li.current-page
          a(href='/sandbox') Sandbox
      else
        li
          a(href='/sandbox') Sandbox
  #home-button
    a(href='/')
      button.phyroom-button PhyRoom

  #time-controls
    //- p I am time controls